// creating a css variable of our colors

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --light-bg: #967bef;
    --dark-bg: #675cf6; 
    --dark-bg-main: #252237;
    --ctn-bg: #292B3C;
}
